body {
  background-color: #ED1D24;
  font-family: 'Bangers', cursive;
  /* padding-left: 2.5rem; */
  margin-top: 6rem;
  /* padding-left: 15rem;
  padding-right: 15rem; */
  /* margin-left: 15rem;
  margin-right: 15rem; */
}

.title {
  text-decoration: none;
  color: inherit;
  /* font-size: 33%; */
}

.txt {
  color: #FFFFFF;
  font-family: 'Bangers', cursive;
  font-size: 33%;
}

.ques-pics {
  /* text-align: center; */
  position: relative;
  left: 34%;
  width: 33%;
  max-width: 125%;
  max-height: 45%;
}

.btn-group {
  text-align: center;
}

.question-title {
  text-align: center;
}

.question-container {
  text-align: center;
}

.option {
  background-color: #ED1D24;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 12px;
  font-size: 25%;
}

.next {
  position: relative;
  left: 75%;
}
